html {
    background-color: rgb(20, 20, 20);
    height: 100%;
}

body {
    background-color: rgb(20, 20, 20);
    height: 100%;
}

.navbar {
    background-color: rgb(20, 20, 20) !important;
    border-bottom: solid #164c7e 3px;
}

.link {
    color: #007bff; /* Link color */
    text-decoration: underline; /* Underline to mimic a link */
    cursor: pointer; /* Show pointer cursor on hover */
}

.link:hover {
    text-decoration: none; /* Remove underline on hover if desired */
}

.error {
    color: red;
}

.video-card-desc p {
    margin: 0;
    font-size: 1rem;
}

@media (max-width: 576px) {
    .video-card-desc {
        padding-top: 20px; /* Adjust the value as needed */
    }
}