* {
    font-family: 'Poppins', sans-serif !important;
    line-height: 1.5 !important;
    font-weight: 400 !important;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: rgb(24, 26, 27) !important;
    height: 100%;
}

li {
    list-style: none;
}

body {
    background-color: rgb(24, 26, 27) !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700 !important;
}

#root {
    min-height: 100vh;
}

.navbar {
    /*background-color: rgb(20, 20, 20) !important;*/
    background-color: rgb(24, 26, 27) !important;
    border: 1px solid rgba(26, 26, 26, 0.3);
}

.link {
    color: #007bff; /* Link color */
    text-decoration: underline; /* Underline to mimic a link */
    cursor: pointer; /* Show pointer cursor on hover */
}

.link:hover {
    text-decoration: none; /* Remove underline on hover if desired */
}

.error {
    color: red;
}

.video-card-desc p {
    margin: 0;
    font-size: 1rem;
}

@media (max-width: 576px) {
    .video-card-desc {
        padding-top: 20px; /* Adjust the value as needed */
    }
}

.active {
    /*background-color: #333; !* Change this to your desired active color *!*/
    color: #fff; /* Change this to your desired text color for active link */
}

::-webkit-scrollbar {
    width: 0;
}