body {
    background-color: rgb(20, 20, 20);
}

.navbar {
    background-color: rgb(20, 20, 20) !important;
    border-bottom: solid #164c7e 3px;
}

.link {
    color: #007bff; /* Link color */
    text-decoration: underline; /* Underline to mimic a link */
    cursor: pointer; /* Show pointer cursor on hover */
}

.link:hover {
    text-decoration: none; /* Remove underline on hover if desired */
}

.error {
    color: red;
}

/*!* Default size for smaller screens *!*/
@media screen and (min-width: 600px) {
    .ant-card-cover img {
        width: 100%;
        height: auto;
    }
}

/*!* Larger size for bigger screens *!*/
@media screen and (min-width: 1400px) {
    .ant-card-cover img {
        width: 100% !important;
        height: auto !important;
    }

    .ant-card {
        width: 400px !important;
    }
}

.ant-card p {
    margin: 0;
}
